.somosTitulo {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 30px;
  font-size: 30px;
}
.somosTitulo2 {
  font-family: "Roboto, sans-serif";
  margin: 35px;
  text-align: center;
}
.somosTexto {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 20px;
}
.somosParrafo {
  font-family: "Roboto, sans-serif";
  margin: 35px;
  text-align: left;
  font-size: 23px;
}
.hr {
  size: 20px;
  color: black;
  width: 70%;
  margin: 0 0 0 15%;
}
