.tit1 {
  display: flex;
  justify-content: center;
  margin: 103px auto 15px auto;
}
.tit1 .titulo1 {
  font-family: "Roboto";
  font-size: 50px;
}

#teAyudamos {
  padding: 7rem 0;
  background: url("./assets/banner.webp") center center / cover no-repeat fixed;
}
.banner {
  width: 100%;
  height: 34px;
  margin: 23px 0 0 0;
  text-align: center;
  background-color: #3d3d3d;
  color: #fff;
  padding: 5px 0 5px 0;
}
.textBanner {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.textBox {
  max-width: 52ch;
  padding: 1em;
  line-height: 1.5;
  font-family: "Roboto";
}
.carousel {
  margin-bottom: 150px;
  width: 100%;
}
.cards {
  display: flex;
  flex-flow: row wrap;
  padding: 6rem 0;
  gap: 1.2em;
  justify-content: center;
}
.cardInfo {
  display: flex;
  max-width: 320px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  border-radius: 0.5em;
  background-color: white;
  box-shadow: 0 29px 38px -15px rgb(0 0 0 / 43%);
}

.imgCard {
  width: 100%;
  height: 200px;
  border-radius: 0.3em;
  background-position: center;
  background-size: cover;
}

.card:nth-of-type(1) .imgCard {
  background-image: url(/img/OVOREX-1.webp);
  background-size: cover;
}
.card:nth-of-type(2) .imgCard {
  background-image: url(/img/OVOREX-1.webp);
  background-size: cover;
}
.card:nth-of-type(3) .imgCard {
  background-image: url(/img/OVOREX-1.webp);
  background-size: cover;
}
.card:nth-of-type(4) .imgCard {
  background-image: url(/img/OVOREX-1.webp);
  background-size: cover;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .tit1 .titulo1 {
    font-size: 44px;
  }
  .carousel {
    margin-bottom: 20%;
  }
  #teAyudamos {
    padding: 5rem 0;
    background: url(./assets/banner.webp) center center / cover no-repeat fixed;
  }
  .cardInfo {
    max-width: 300px;
    padding-bottom: 0;
    height: 310px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .tit1 .titulo1 {
    font-size: 44px;
  }
  .carousel {
    margin-bottom: 20%;
  }
  #teAyudamos {
    padding: 3rem 0;
    background: url(./assets/banner.webp) center center / cover no-repeat fixed;
  }
  .cardInfo {
    max-width: 280px;
    padding-bottom: 0;
    height: 310px;
    margin-bottom: 20px;
  }
}
